<header class="custom-site-header">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  
 
  {%- include header.html -%}
  


  <img class="header-img" src="./img/laptop.jpg"/>

  <div class="custom-wrapper">
   
    <div class="self-quote">
      <img class="portrait" src="./img/portrait2.svg">
      
      <div class="quote-box"> 
        <div class="l-quote">I'm Linh <br> Accelerator Operator </br></div>
        <div class="sm-quote"> 
          <h5>
            This blogpage is a showcase of my programming experiences & 
            <br> academic  background as a graduate school applicant. </br>
          </h5> 
        </div>
      </div>

    </div>
  </div>

</header>