/* 
  Customed scss writen by Linh Pham 
  email: lpham@fnal.gov */

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875 ;

@import 'https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap';
// .accelerator-operator{
//     font-family: "Dancing Script", cursive;
// }


// set background
.body, html{
  height:100%;
}

$custom-background: url(../img/coffee.jpg); 
// .page-content{
//   // background-image: url(../img/coffee.jpg) ;
//   /* Full height */
//   height: 100%; 
//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat:repeat;
//   background-size: cover;
// }



// custom side-header
.csite-header{
  position:relative;
  overflow:hidden;
  height:40vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  margin:0;
  height:100%;
  // border:1px solid black;
  margin-bottom: 5px;

}

// .csite-header:after{
//   content:"";
//   width:100%;
//   height:100%;
//   position:absolute;
//   bottom:0;
//   left:0;
//   z-index:-1;
// }

.header-img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: .4;
  z-index:-1;
}

.self-quote{
  
  z-index:0;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5px;
}
.portrait{
  // z-index: -1;
  width: 60%;
  height:60%;
  margin-top: 3em;
  margin-left: -190px;
  
}
.quote-box{
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  padding: 10px;

.l-quote{
  font-size: 50px;
  font-weight: 700;
  font-family: "Dancing Script", cursive ;
}
.small-quote{
  // font-size: $small-font-size;
}
}
.menu-icon {
    margin-right: 20px;
    position:relative;
    // right:20px;
    // top:20px;
    text-decoration:none;
    display:flex; 
    align-self: flex-end;
}

a.page-link:hover{
  transform: scale(1.02);

}
// set background for header,footer

// .site-footer, .site-header{
//   background: url(../img/back.jpg);
// }

$content-width:  950px ;
$base-font-size:   16px;

// grids 


.row{
  
  box-sizing: border-box; 
  // border: 1px solid black;
  width:100%;
  margin-bottom: 2em;
  padding: 0 10px;
  
}

a{
  color: #111;
  text-decoration: none;
  
  
  &:visited {
    color: #111
  }

  &:hover {
    color: #111;
    text-decoration: none;
    opacity: .8;
    transform: scale(1.02);

  }
}


.title{
  font-size: $base-font-size;

}
.post-link{
  display: block;
  
  &:hover{
    transform: scale(1.02);
  }
  
}
.row{
  display: block;
  position:relative;
  background: #FFDE59;
  
}

.details{
  
  z-index: 20;
  padding: 15px;
  text-align: left;
  position: relative;
  top: 10px;
  left: 10px; 
  padding: 5px;
  opacity: 1;
  // display: none;

}


.description,.skill{
  font-size: $small-font-size;
}

.description{
  padding:15px;
}


