/* 
  Customed scss writen by Linh Pham 
  email: lpham@fnal.gov */

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875 ;
$content-width:  950px ;
$grey-color:       #828282 ;
$grey-color-light: lighten($grey-color, 40%) ;
$grey-color-dark:  darken($grey-color, 25%) !default;

@import 'https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap';

// custom side-header
.custom-site-header{
  position:relative;
  // overflow:hidden;
  height:40vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  margin:0;
  height:100%;
  margin-bottom: 5px;

}
/*no border bottom on homepage*/
.custom-site-header .site-header{
  border-bottom:none;
  // no background for sticky header in home
  background: none;
}

.site-title, .site-nav{
  color: $grey-color-dark;
 
}
.site-title:hover, .page-link:hover{
  text-decoration: underline;
}

/*wrapper for customed header*/
.custom-wrapper{
  margin:auto;
}

.header-img{
  height: 95%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: .4;
  z-index:-1;
}

.self-quote{
  z-index:0;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 5em;
  
}
/*picture*/
.portrait{
  width: 45%;
  height:45%;
  margin-top: 10px;
}
/*quote next to my picture*/
.quote-box{
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  padding: 5px;
}
.l-quote{
  font-size: 50px;
  font-weight: 700;
  font-family: "Dancing Script", cursive ;
}

/*menu-icon for navigation*/
.menu-icon {
    margin-right: 20px;
    position:relative;
    text-decoration:none;
    display:flex; 
    align-self: flex-end;
}

/* anchor element overidding*/
a, a .details{
  color:$grey-color-dark;
  text-decoration: none;
  
  
  &:visited {
    color: $grey-color;
  }

  &:hover {
    color: #111;
    text-decoration: none;

  }
}

.title{
  font-size: $base-font-size;
}
/*link to project*/
.post-link{
  display: block;
  border-radius: 10px;
  color: #111;
  opacity: 0;
  filter: blur(5px); 
  // transform: translateX(-100%);
  transition: all 1s;
  &:hover{
    transform: scale(1.02);

  }
  
}

/*scroll animation*/ 
.show{
  opacity: 1;
  filter: blur(0); 
  transform: translateX(0);
}

@media(prefers-reduced-motion){
  .post-link {
    transition:none; 
  }
}
/*row allocation for projects*/
.row{
  display: block;
  position:relative;
  box-sizing: border-box;
  width:100%;
  margin-bottom: 2em;
  padding: 0 10px;
  background:hsl(48, 95%, 75%);
  border-radius: 10px; 
}
/*details of ech  project*/
.details{
  z-index: 20;
  padding: 15px;
  text-align: left;
  position: relative;
  top: 10px;
  left: 10px; 
  padding: 5px;
  opacity: 1;
}

/*pj description*/
.description{
  font-size: $small-font-size;
  padding:15px;
}
/*skills box*/
.skills{
  position:relative;
  display:flex; 
  padding: 10px 15px;
  justify-content: center;
  display: none;
  margin-top: -10px;

}
/*display skills on hover */
.post-link:hover .skills{
  display: flex;
  opacity: 1;
  z-index: 20;
  transition: all 1s;
}
button{ 
  color:#111;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  perspective: 1px;
  border-radius: 5px;
  line-height: 23px;
}



