---
layout: custom
---

<div class="home">
  
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {{ content }}
  

  {%- if site.posts.size > 0 -%}
    <div class="wrapper ">

      <script defer src="assets/javascript/scroll-animation.js"></script>

      <h2 class="post-list-heading" style="text-align :center;">{{ page.list_title | default: "Projects" }}</h2>
      <h5 style="text-align :center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
     
      {%- for post in site.posts -%}
     
        <a class="post-link" href="{{ post.url | relative_url }}"> 
          <div class="row">
          <!-- <img class="post-img" src="../img/sun-flower2.jpg"> -->
            <span class="details">
              <strong>{{ post.show | escape }} </strong>
              <div class="description"> {{ post.description | escape }} </div>
            </span>
            <span class="skills"> 
              <script defer src="assets/javascript/skill-layer.js"></script>
              {%- for skill in post.skills -%}
              <button type="button">{{skill | escape}}</button>
              {%- endfor -%} 
            </span>
          </div>
        </a>
      
      {%- endfor -%}
    
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>