---
layout: custom


---

<div class="home">
  
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {{ content }}
  

  <div class="wrapper ">

    <script defer src="assets/javascript/scroll-animation.js"></script>

      <!-- Projects -->
    <h2 class="post-list-heading" style="text-align :center;">{{ page.list_title | default: "Projects" }}</h2>
    <h5 style="text-align :center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  
    {%- for post in site.posts -%}
      {%- if post.category == "project" -%}
        {%- include post.html -%}
      {%- endif -%}
    {%- endfor -%}

    <!-- Learning Exps -->
    <h2 class="post-list-heading" style="text-align :center;">{{ page.list_title | default: "Learning Experiences" }}</h2>
    <h5 style="text-align :center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
    
    {%- for post in site.posts-%}  
      {%- if post.category == "learning-experience" -%}
        {%- include post.html -%}
      {%- endif -%}
    {%- endfor -%}

  
  </div>



</div>